html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#headshot{
    width: 80%;
    float: right;
}

#welcome {

}

img {
    width: 100%;
}

ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #dfcda4;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
  li a {
    display: block;
    color: #000;
    margin-top: 10px;
    padding: 8px 8px;
    text-decoration: none;
    
    
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

.block{
    text-align: center;
    height: 100%;
    background-color: white;
}


#title {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
}